@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.food-munch-logo {
    height: 70px;
    width: 70px;
    padding: 10px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem5 {
    color: #323f4b;
    font-family: "Roboto";
}

.banner-section-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.banner-section-heading {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    font-family: roboto;


}

.banner-section-description {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: roboto;


}

.custom-buttom-1 {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.outline-buttom-1 {

    background-color: transparent;
    width: 130px;
    height: 45px;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: #d0b200;
    color: #d0b200;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-style: Roboto;
    font-weight: 600;
    font-size: 30px;
}

.wcu-section-description {
    color: #5a7184;
    font-style: Roboto;
    font-size: 16px;
}

.wcu-card {
    background-color: white;
    text-align: center;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #e5ea54;

}

.wcu-card-image {
    width: 90px;
    height: 90px;
}

.wcu-card-title {
    color: #323f5b;
    font-style: Roboto;
    font-weight: 600;
    font-size: 22px;
}

.wcu-card-description {
    color: #5a7184;
    font-style: Roboto;
    font-size: 14px;
}

.offers {
    color: black;
    font-weight: bold;
}

.menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.Explore-menu-section {
    background-color: white;
}

.menu-image-size {
    border-radius: 12px;
    width: 100%;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.delivery-section {
    background-color: #f9fbfe;
}

.delivery-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.delivery-section-img {
    width: 250px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.payment-card-img {
    width: 50px;
}

.follow-us-bg-container {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.icon {
    font-size: 35px;
    color: #d0b200;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    padding-left: 22px;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-right: 22px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 10px;
}

.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}


.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}